/*Fonts importing*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/*Whole document attributes*/

*{
  box-sizing: border-box;
  overflow-y: hidden;
}

html, body{
  margin: 0;
  width: 100%;
}

/*Big Container parts*/
.top-container{
  display:flex;
  height:60px;
}

.body-container{
  display: flex;
  padding: 0;
  border: 0;
  margin: 0;
  min-height: calc(100vh - 61px);
  max-height: calc(100vh - 61px);
}

/*NavBar parts*/


/*Left parts*/
.back-part{
  display: flex;
  align-items: center;
  min-width: 280px;
  width: 280px;
  height: 100%;
  padding:10px;
  background-color: #222831;
}

.back-button{
    border: 10px;
    cursor: pointer;
}

.returned{
  transform: rotate(0.5turn);
  transform-origin: center;
}

.course-title{
  color: white;
  font-family: 'Salsa', cursive;
  text-decoration: none;
  margin: 0;
  padding-left: 20px;
  font-size: 20px;
}


/*Right parts*/

nav {
  background-color: #F6E9E9;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.menu-wrapper{
  display: flex;
}

.menu-element{
  position: relative;
  overflow-x: hidden;
  display: inline;
  white-space: nowrap;
  font-family: 'Salsa', cursive;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
  transform-origin: center;
  margin-top: 5px;
  font-size: 22px;
  width: 90%;
  text-align: center;
  color: black;
}

.menu-element:hover{
  text-decoration-color: rgba(0, 0, 0, 1);
}

.no-decoration{ /*Used for desactivate underline on iPad*/
  text-decoration: none;
}

.mobile-menu, #toggle{
    display: none;
}


/*Body part*/


/*Left accordionn menu*/

.accordion-menu{
  background-color: #EEEEEE;
}

.accordion-title{
  text-align: center;
  text-decoration: none;
  font-family: 'Salsa', cursive;
  font-size: 18px;
}

.accordion{
  min-width: 280px;
  width: 280px;
  height: calc(100vh - 119px);
  padding-left: 0px;
  overflow-y: auto;
}

.has-sub{
  list-style-type: none;
  padding-left: 0px;
}

ul{
  margin: 0;
  padding: 0;
  padding-left: 5px;
  text-decoration: none;
  font-family: 'Salsa', cursive;
  font-size: 14px;
}
  
li{
  display: block
}

.sub > li {
  height: 0;
  overflow: hidden;
  transition: ease .1s;
}

.separator{
  margin: 0;
  width: 100%;
}

.menu{
  cursor: pointer;
  display: 	flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title{
  padding-left: 5px;
  text-decoration: none;
  font-family: 'Salsa', cursive;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subtitle{
  padding-left: 5px;
  text-decoration: none;
  font-family: 'Salsa', cursive;
  font-size: 16px;
  margin-bottom: 10px;
  color: #a9a9a9;
}


input[type="radio"], input[type="checkbox"] {
  display: none
}

input:checked + .sub > li {
  
  height: 90%;
  margin: 5px;
  cursor: pointer;
}

input:checked + .sub{
  margin-top: 10px;
}


/*PDF viewer part*/

.pdf-viewer{
  padding: 0;
  border: 0;
  margin: 0;
  width: calc(100vw - 280px);
  height: calc(100vh - 60px);
  background-color: #333333;
}

#pdf-window{
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: calc(100vh - 60px);
}


/*JS Needed class*/

.hidden{
  display: none;
}

.fullscreen{
  width: 100%;
}


/*Mobile Menu, (c'est le bazar la bas, faut pas toucher ...)*/

@media all and (max-width: 991px){

/*Whole Page*/

*{
  overflow-y: auto;
}


/*Big Container part*/

.body-container{
  height: calc(100vh - 83px);
}


/*Top Menu*/

.course-title{
  text-align: center;
}

.back-part{
  width: 100%;
}

nav
{
    display: flex;
    width: 60%;
    height: 60px;
}

nav .menu-wrapper 
{
    display: none;
}

.menu-element{
  width: 100%;
  border: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1px;
}

.mobile-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  color: black;
  cursor: pointer;
  overflow-y: hidden;
}

#toggle:checked + .menu-wrapper{
  display: flex;
  flex-direction: column;
  position:absolute; 
  left:0px; 
  top:60px;
  width: 100%;
  background-color: #F6E9E9;
}


/*Main content*/

#pdf-window{
  display: none;
}

.pdf-viewer{
  display: none;
}

.accordion-menu{
  height: 100%;
}

.accordion{
    width: 100vw;
    overflow-y: auto;
}

}